body {
background-color : #FEA41E;
}
.header {
position : relative;
display: inline-block;
height : 150px;
width : 100%;
}
.header h1{
text-align : center;
font-height : bold;
text-transform: uppercase;
font-family : Impact, "Arial Black", Arial, Verdana, sans-serif;
}
img {
display : inline-block;
height: 100%;
}
.gauche {
position : absolute;
left : 0px;
}
.droite {
position : absolute;
right : 0px;
}
.menu {
display : inline-block;
background-color: #1A1D1D;
border-radius: 5px;
width:100%;
}
li {
display : inline-block;
list-style : none;
margin-right : 2%;
font-family : fantasy;
font-size : 2 em;
font-weight : bold;
}
li a {
color : #F600DD;
text-decoration : none;
}
li a:hover {
color : #B0009F;
text-decoration : none;
}
.bouton a
{
display:block;
width:140px;
height:60px;
text-align:center;
vertical-align:middle;
background:url('../images/penis2.jpegs') no-repeat;
opacity: 0.6;
filter(opacity=60);
color:black;
text-decoration:none;
font-weight:bold;
border:1px solid black;
}

.bouton a:hover {
background:url('../images/nichons2.jpeg') no-repeat;
opacity: 0.6;
filter(opacity=60);
}


