.bouton a
{
display:block;
width:140px;
height:60px;
text-align:center;
vertical-align:middle;
background:url(penis2.jpeg) no-repeat;
opacity: 0.6;
filter(opacity=60);
color:black;
text-decoration:none;
font-weight:bold;
border:1px solid black;
}

.bouton a:hover {
background:url(nichons2.jpeg) no-repeat;
opacity: 0.6;
filter(opacity=60);
}


